h1{
    color: white;
    text-align: center;
    background-color: green;
    line-height: 100px;
    text-shadow: 12px 4px 12px yellow;
    font-size: 30px;
}

h1:hover{
    background-color: darkcyan;
}
